* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #cccccc;
}

.pin-form,
.balance-form {
  position: absolute;
  width: 300px;
  height: 530px;
  margin: 4% 40%;
}